<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a User</title>
</head>
<body>
    <h1>Create a User</h1>
    <form action="/users/new" method="post">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" placeholder = "Enter a first name" required>
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" placeholder = "Enter a last name" required>
        <label for="image-url">Image URL</label>
        <input type="text" name="image-url" id="image-url" placeholder = "Provide an image for this user">
        <input type="submit" value="Add">
    </form>
</body>
</html>