<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form action="/users/{{user.id}}/edit" method="post">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" value = "{{user.first_name}}" required>
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" id="last-name" value = "{{user.last_name}}" required>
        <label for="image-url">Image URL</label>
        <input type="text" name="image-url" id="image-url" value = "{{user.image_url}}">
        <a href="/users/{{user.id}}">Cancel</a>
        <input type="submit" value="Save">
    </form>
</body>
</html>