<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% for category,msg in get_flashed_messages(with_categories=true) %}
        <p class={{category}}>{{msg}}</p>
    {% endfor %}
    <!-- <p><form action="/" id="start-new-game"><button type="submit" id="start-btn">Start New Game</button></form></p> -->
    {% block content %}{% endblock %}
    <h1 id="result"></h1>
    <h2>Score: </h2><span id="score"></span>
    <h2>Number Of Times Played: </h2><span id="num-times-played">{{ session['num_times_played']}}</span>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/app.js"></script>
</body>
</html>